{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Header
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                    <div class="card-footer text-muted">
                        Footer
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Header
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Text</p>
                    </div>
                    <div class="card-footer text-muted">
                        Footer
                    </div>
                </div>
            </div>    
            
        </div>


        <div class="list-group mt-4">
        {% for products in object_list %}

            <a href="#" class="list-group-item list-group-item-action active">{{ products.Title }}</a>

            {% empty %}

            no tienes el titulo aprobado

        {% endfor %}
        </div>

    </div>
{% endblock%}